@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
body {
  font-size: 16px;
  background: #dfe4ea;
  transition: background 0.2s linear;
}

body.darkmode{
  background: #2f3542;
}

.webDevFinal{
  opacity: 0;
  transition: all 1s ease;
  margin-top: -50px;
}

.fade{
  opacity: 1;
  margin-top: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main{
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
}

#particles-js{
  height: 100vh;
}

.myName{
  color: #2f3542;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4em;
  margin: 0rem;
}

.webDev {
  color: #2f3542;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em; 
  margin: 0.5rem 0.2rem;
  display: flex;
  justify-content: flex-end;
}


body.darkmode .myName{
  color: #dfe4ea;
}

body.darkmode .webDev{
  color: #dfe4ea;
}


.darkTheme{
  position: absolute;
  top: 0;
  right: 0;
}

.label_themeSwitch{
  background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 45px;
  margin: 5px 5px 0 0;
}

.label_themeSwitch .ball__themeSwitch {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox__themeSwitch{
  opacity: 0;
  position: absolute;
}

.checkbox__themeSwitch:checked + .label_themeSwitch .ball__themeSwitch {
	transform: translateX(29px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

@media screen and (max-width: 435px){
  .container-main{
    top: 35%;
    width: 255px;
    margin: 0 auto;
  }

  .myName {
/*     text-align: left; */
    font-size: 3.5em;
    
  }

  /* line 123, style.scss */
  .webDev {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 400;
  }
}